.feed-container {
  width: 470px;
  margin: 0 auto; 
  background-color: black;
  color: whitesmoke;
}

.header-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-detail__reactions {
  position: relative;
  padding-bottom: 0;
}

.post-detail__reactions svg {
  color: #000;
  margin-right: 0;
  margin-left: 0;
}

.post-detail__reactions svg:hover {
  cursor: pointer;
}

.post-detail__reactions-count {
  position: absolute;
  color: whitesmoke;
  border-radius: 50%; 
  /* padding: 0px 3px;  */
  font-size: 11px;
  line-height: 12px;
}
